.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Mengatur tinggi elemen ke 100% tinggi viewport */
  }
  
  .full-screen-image {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
  }

