@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Inter", sans-serif;
}

/* Login */
.page-login-desktop{
    height: 100%;
    color: #fff;
    
}

.page-login-desktop  {
    /* background-color: #4368c5;
    height: 100vh; */
    background-image: url(./assets/bg-desktop-img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    height: 100%;
    
}

.card-login {
    text-align: left;
}

.card-login .card {
    /* background-color: #cddafcb0; */
    /* background-color: #edf1fcb0; */
    background-color: #ffffff;
    border: 1px solid #dddddd;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    border-radius: 25px;
   
}

.card-login .card .img-card img {
    margin-top: -25px;
}

.card-login label, .card-login input{
    color: #000000;
    
}

.card-login .input-box p {
    text-align: left ;
    font-weight: 500;
    color: #121212;
    line-height: 0px;
}

.card-login button {
    background-color: #4368c5;
    color: #ffffff;
    width: 100%;
    margin-top: 10px;
}


.card-login .input-box {
    width: 100%;
    border-bottom: 1px solid #1FCCDD;
}

.card-login input {
    width: 95%;
    border: none;
    outline: none;
    background: transparent;
}

.input-box .bi {
    margin-right: 10px;
}

.input-box .eye {
   position: absolute;
   margin-top: 10px;
   cursor: pointer;
}

.input-box #hide1 {
    display: none;
}

.card-login .card-body .btn-login .button-login:hover {
    background-color: #1FCCDD !important;
}

.logo-desktop{
    text-align: right;
    margin-top: 10px;
    margin-right: 15px;
}
.logo-desktop img{
    width: 120px;
}

.footer-login {
    position: fixed;
    bottom: 0;
    /* width: 66%; */
    color: #fff;
    font-weight: 600;
    width: 100%;
    text-align: center;
    background-color: #36363663;
    padding-top: 5px;
   padding-bottom: 5px;
}

.footer-login p{
    margin: 0;

  /* -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(255, 255, 255); */
}

.footer-login .footer-center {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 0;
}


.page-login .content-login{
    text-align: center;
    padding-top: 8%;
    font-weight: 600;
}





/* Form Login */
.page-login .bg-form-login-top {
    text-align: center;
    margin-top: 30%;
    background-size: cover;
    color: #4368c5;
}

.page-login .form-login {
    padding: 5% 15%;
}

.form-login h4 {
    text-transform: uppercase;
    font-weight: 600;
    color: #025F48;
    margin-bottom: 20px;
    font-size: 20px;
}

.form-login .form-group {
    margin: 18px 0;
}

.form-group input {
    margin-top: 0px;
    margin-bottom: 5px;
}

.form-group a {
    text-decoration: none;
    color: #858585;
}

.form-login .btn-login .button-login:hover{
    background-color: #636fee !important;
}

.login-hidden {
    display: none;
}


@media (max-width: 1450.98px) { 
    .card-login .card {
    width: 350px;
   
    }

    .page-login .content-login{
        padding-top: 8%;
    }

    .content-login h1 {
        font-size: 28px !important;
    }

    .img-wrapper-login, .img-wrapper-logo-login {
       margin-top: 15px;
    }

    .img-wrapper-login img {
        width: 400px;
        
    }

    .page-login .bg-form-login-top {
        margin-top: 25%;
    }

    .page-login .form-login {
        padding: 1% 15%;
    }

    .bg-form-login-top img {
        width: 175px;
    }

    .bg-form-login-top h3 {
        font-size: 23px;
    }

    .form-login .form-group label{
        font-size: 14px;
    }

    .btn-login .button-login, .forget-password {
        font-size: 14px !important;
    }
    
}

/* Login Phone */

.bg-phone {
    /* position: absolute; */
    background-image: url(assets/bg-phone-img.jpg); 
    background-repeat:no-repeat;
    background-size:contain;
    padding: 50%;
    /* width: 100%; */
}

.card-login-phone {
    margin-top: -110px;
    /* padding: 70% 0 0px 0; */
    z-index: 200;
}

.card-login-phone  .card{
    padding: 25px 40px;
    background-color: #eaf4ff;
    border-radius: 30px 30px 0 0;
    border: none;
    height: 75vh;

} 

.card-login-phone .card .form-group label {
    /* border: 1px solid #4368c5; */
    font-size: 14px;
    color: #4368c5;
}

.card-login-phone .card .form-group input {
    background-color: #eaf4ff;
    border: none;
    border-bottom: 1px solid #4368c5;
    border-radius: 0;
}

.card-login-phone .card .btn-login-phone {
    width: 50%;
    margin: auto;
    
}

.card-login-phone .card .btn-login-phone .button-login-phone {
    box-shadow: 0 8px 10px 0 rgba(15, 108, 247, 0.2), 0 6px 20px 0 rgba(7, 117, 243, 0.19);

}


.footer-login-phone {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}

.footer-login-phone .footer-center-phone {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 0;
    
}


/* ====================== */