.image-container {
    justify-content: center;
    align-items: center;
    height: 100vh; /* Mengatur tinggi elemen ke 100% tinggi viewport */
    padding-top: 80px;
  }
  
  .full-screen-image {
    max-width: 60%;
    max-height: 60%;
    width: auto;
    height: auto;
  }

